 @model IEnumerable<Proyecto_tienda_app.Models.Producto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idcategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rutaimg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idcategoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.estado)
    </td>
    <td>
        <img src="@Url.Content(item.rutaimg)" style="width:40px; height:40px"/>
    </td>
    <td>
    
        @Html.ActionLink("Seleccionar","Index", new {id=item.codigo})
    </td>
</tr>
}

</table>
