@model Proyecto_tienda_app.Models.Producto

@{
    ViewBag.Title = "Seleccionar";
    var usuario = ViewBag.USUARIO as Proyecto_tienda_app.Models.Usuario;
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("MusicStore", "Tienda", "Ecommerce", new { nombre = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Catálogo de Instrumentos", "Tienda", "Ecommerce")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        @usuario.Nombre
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Usuario")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    <h2>Producto Seleccionado</h2>

    <div style="padding: 45px 20px; background: white; border-radius: 16px; box-shadow: 10px 17px 25px -25px rgb(0 0 0 / 75%)">

        <div class="row">

            <div class="col-sm-4" style="display:flex; justify-content: center">
                <img width="100" height="100" class="img-producto" src="@Url.Content($"~/IMAGENES/{@Html.DisplayFor(model => model.codigo)}.jpg")" alt="@Html.DisplayFor(model => model.nombre)">
            </div>

            <div class="col-sm-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.codigo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.codigo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.precio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stock)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stock)
                    </dd>

                </dl>
                <dl class="dl-horizontal">
                    <dt style="width:40%">
                        <div style="margin-top: 0.5rem">
                            @using (Html.BeginForm())
                            {
                                @Html.Hidden("codigo", Model.codigo)
                                <div>
                                    <em>Ingrese la Cantidad</em>
                                    @Html.TextBox("cantidad", 1, new { type = "number", min = 1, max = Model.stock, @class = "form-control", style = "display:inline-block!important;width:100px" })
                                </div>
                                <div style="margin-top: 0.5rem">
                                    <input type="submit" value="Agregar" class="btn btn-info" disabled="@ViewBag.d" /> |
                                    @Html.ActionLink("Retornar", "Tienda", new { nombre = "" }, new { @class = "btn btn-info" })
                                </div>
                            }
                        </div>
                    </dt>
                </dl>
            </div>
        </div>

        @if ((bool)ViewBag.d)
        {
            <p class="text-center" style="margin-top:15px; color:blue">
                @ViewBag.mensaje
            </p>
        }

        @if ((bool)ViewBag.error)
        {
            <div class="alert alert-danger" style="margin-top:0.5rem">
                @ViewBag.mensaje
            </div>
        }

    </div>


</div>
